process {    
    withName:parse_snvs {
        memory = '5G'
        clusterOptions = '-p normal_prio --time=2:00:00'
        container = '/home/mmunteanu/Clustertools.img'
    }
    withName:count_mutations {
        memory = '20G'
        clusterOptions = '-p normal_prio --time=12:00:00'
        container = '/home/mmunteanu/Sigprofiler.img'
    }
    withName:get_signatures {
        memory = '50G'
        clusterOptions = '-p normal_prio --time=24:00:00'
        conda = '/home/dnaro/.conda/envs/torchcuda'
        afterScript = 'set +u; conda deactivate'
    }
    withName:signature_fitting {
        memory = '10G'
        clusterOptions = '-p normal_prio --time=24:00:00'
        conda = '/home/mmunteanu/.conda/envs/SigProfilerAssignment'
        afterScript = 'set +u; conda deactivate'
    }
}    

singularity {
        enabled = true
        autoMounts = true
        runOptions = '-B /g/strcombio/fsupek_data/MMR_BER_Project/Processed_data/Cancers/nextflow_analysis -B /local_scratch/tmp/ -B /home/ -B /g/strcombio/ -B /g/strcombio/fsupek_data/MMR_BER_Project/Processed_data/Cancers/CRISPR_screen'
}

conda {
       enabled = true    
}

timeline {
  enabled = true
  file = "/g/strcombio/fsupek_data/MMR_BER_Project/Processed_data/Cancers/nextflow_analysis/timeline.html"
}

report {
  enabled = true
  file = "/g/strcombio/fsupek_data/MMR_BER_Project/Processed_data/Cancers/nextflow_analysis/report.html"
}

trace {
  enabled = true
  file = "/g/strcombio/fsupek_data/MMR_BER_Project/Processed_data/Cancers/nextflow_analysis/trace.txt"
}

dag {
  enabled = true
  file = "/g/strcombio/fsupek_data/MMR_BER_Project/Processed_data/Cancers/nextflow_analysis/dag.html"
}
